@{
    ViewData["Title"] = "Home Page";
}
@Html.ActionLink("Jeson", "JsonR", "HomeController")
@*<div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-6">
                <a class="game-button eurobusiness" asp-area="" asp-controller="" asp-action="">Poker</a>
            </div>
            <div class="col-sm-12 col-md-6">
                <a class="game-button poker" asp-area="" asp-controller="EuroBusiness" asp-action="EuroBusiness">EuroBusiness</a>
            </div>
        </div>
    </div>*@
